body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    /* display: flex;
    align-items: center; */
    height: 100vh;
  }

.new_form_box {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
}
.form_box {
  margin-bottom: 10px;
}
.text_box {
  width: 100%;
  padding: 5px;
}
.btn {
  width: 100%;
  padding: 10px;
  background-color: #ADD8E6;
  border: none;
  font-size: 16px;
}
